:root {
  --light-color: white;
  --dark-color: #111111;
  --hyperlink: blue;
}

body {
  background-color: var(--dark-color);
  font-family: 'Ubuntu Mono', monospace;
  color: var(--light-color);
}

.page {
  height: 100vh;
}

.fancy-text {
  background: var(--light-color);
  color: var(--dark-color);
  padding: 0 2px;
}

.name {
  padding: 1vh 1vw;
  font-size: 50px;
  cursor: none;
}

.heading {
  padding: 1vh 1vw;
  font-size: 25px;
  cursor: none;
}

.main-link {
  display: inline-block;
  padding: 2vh 0.5vw;
}

.main-link:hover {
  color: var(--hyperlink);
  text-decoration: underline;
  cursor: pointer;
}

.text-box {
  padding: 3vh 2vw;
}

.company-field {
  padding: 0.5vh 3vw;
}

.company {
  padding: 1vh 1vw;
  font-size: 23px;
}

.detail {
  padding: 0 1vw;
  font-size: 17px;
}

.company:hover {
  color: var(--hyperlink);
  text-decoration: underline;
  cursor: pointer;
}

.tech-item {
  display: inline-block;
  padding: 1vh 2vw;;
}

.tech-text {
  padding: 7px;
  font-size: 16px;
  font-weight: 600;
}