:root {
  --light-color: white;
  --dark-color: #111111;
  --hyperlink: #4fc3f7;
}

body {
  background-color: var(--dark-color);
  font-family: 'Ubuntu Mono', monospace;
  color: var(--light-color);
}

.page {
  min-height: 100vh;
  padding: 0 0 10vh 0;
}

.fancy-text {
  background: var(--light-color);
  color: var(--dark-color);
  padding: 0 2px;
}

.name {
  padding: 1vh 1vw;
  font-size: 50px;
  cursor: none;
}

.heading {
  padding: 1vh 1vw;
  font-size: 25px;
  cursor: none;
}

.main-link {
  display: inline-block;
  padding: 2vh 0.5vw 0vw 0.5vh;
}

.main-link:hover {
  color: var(--hyperlink);
  text-decoration: underline;
  cursor: pointer;
}

.text-box {
  padding: 3vh 2vw;
}

.company-field {
  padding: 0.5vh 3vw;
}

.company {
  padding: 1vh 1vw;
  font-size: 23px;
}

.detail {
  padding: 0 1vw;
  font-size: 17px;
}

.company:hover {
  color: var(--hyperlink);
  text-decoration: underline;
  cursor: pointer;
}

.tech-item {
  display: inline-block;
  padding: 1vh 2vw;;
}

.tech-text {
  padding: 7px;
  font-size: 16px;
  font-weight: 600;
}

.link-item {
  display: inline-block;
  padding: 0 0.5vw;
}

.link-item:hover {
  color: var(--hyperlink);
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  padding: 2vh 7vw 1vh 2vw;
  background: var(--light-color);
  color: var(--dark-color);
  margin: 0;
}

@media only screen and (max-device-width: 480px) {
  .valign-wrapper {
    display: block;
  }
  .first {
    display: flex;
  }
}
